@font-face {
  font-family: "Crayon";
  src: url("/fonts/Crayon.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.crayon-text {
  font-family: "Crayon", sans-serif;
}
